### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles
!.idea/flyway.migration.xml
*.iws
*.iml
*.ipr
out/

### VSCode ###
.vscode

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### logs ###
*.log
*.log*

### unix ###
.DS_Store

### build ###
/build/
/target/
### localstack ###

.localstack