<div th:fragment="header (pageName)" th:with="details=${details} ?: ''" xmlns:th="http://www.w3.org/1999/xhtml"
     style="text-align: center;">
    <nav class="navbar navbar-light header-custom">
        <div class="header-left">
            <span style="float: left;font-size: 24px;font-weight: bold;" th:text="${pageName}"> </span>
            <span style="font-size: 24px;margin-left: 10px;"
                  th:text="${details}"></span>
        </div>
        <div class="header-hospital-name">
            <span th:text="${hospitalName}">')"></span>
        </div>
        <div class="header-right">
            <div class="header-logo">
                <img th:src="@{/images/logo_cropped.png}" style="width: 100px; height: 83px;" alt="">
            </div>
            <div class="header-headings">
                <h1 style="font-weight: bold">MEDJACKET</h1>
                <h6 style="margin-left: 3px; float: right;">Health is my right</h6>
            </div>
        </div>
    </nav>
</div>
