<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml" style="text-align: center;">
    <nav class="header-navbar navbar navbar-expand-sm bg-light ">
        <ul class="navbar-nav" style="width: 100%">
            <li class="nav-item nav-item-straight">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item nav-item-straight">
                <a class="nav-link" th:href="@{/patient/list}" th:text="#{common.patient}"></a>
            </li>
            <li class="nav-item nav-item-straight">
                <a class="nav-link" th:href="@{/nursing_station/list}" th:text="#{common.nursing_station}"></a>
            </li>
            <li class="nav-item nav-item-straight">
                <a class="nav-link" th:href="@{/users/list}">Users</a>
            </li>
            <li class="nav-item nav-item-straight">
                <a class="nav-link" th:href="@{/logout}">Sign Out</a>
            </li>
        </ul>
    </nav>
</div>
