.form-container {
    margin-top: 3%;
    background-color: #f2f2f2;
}

.custom-label {
    float: left;
}

h3 {
    text-align: left;
}

.row {
    margin-top: 3%;
}

.form-group.required .input-group-prepend .input-group-text:after {
    content:"*";
    color:red;
}

/*.form-group.required .radioLabel:after {*/
/*    content:"*";*/
/*    color:red;*/
/*}*/

.border-group {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 1%;
}

h5 {
    text-align: center;
    margin-top: 2%;
}

.admin-message-text {
    font-style: normal;
    font-size: 22px;
    color: #004080;
}

h3 {
    float: left;
    margin-top: 2%;
}

.add-button {
    float: right;
    margin-bottom: 2%;
    margin-top: 2%;
}

.table-menu {
    color: #000000;
    background-color: #ffffff;
    border: none;
}

.header-custom {
    background-color: #38367a;
    color: #ffffff;
    padding: 0!important;
}

.header-left {
    font-size: 20px;
    padding-left: 10px;
}

.header-logo {
    float: left;
    margin-right: 15px;
}

.header-headings {
    float: right;
    padding-right: 10px;
}

.button-default {
    background-color: #827da0;
}

.button-action {
    color: #000000!important;
    border: none!important;
    width: 20%;
    background-color: #e8a296!important;
    font-size: 22px!important;
}

a {
    text-decoration: none!important;
}

.nav-item {
     width: 25%;
     color: #ffffff;
     background-color: #625e96;
     border-bottom-left-radius: 20px;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 5px;
     border-top-left-radius: 5px;
 }

.nav-item.active {
    width: 25%;
    color: #ffffff;
    background-color: #625e96;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 7px solid #e7a296;
}

.nav-item33 {
    width: 33%;
}


.nav-item33.active {
    width: 33%;
}

.nav-item50 {
    width: 50%;
}


.nav-item50.active {
    width: 50%;
}

.nav-link.active {
    color: #ffffff!important;
    background-color: #625e96!important;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-item a {
    color: #ffffff;
}

.action-icon {
    width: 50px;
    height: 50px;
}

.action-label {
    color: #000000;
}

.input-group-prepend1 {
    width: 30%;
}

.input-group-prepend2 {
    width: 50%;
}

.input-group-prepend3 {
    width: 40%;
}

.input-group-text {
    width: 100%;
    border: 1px dotted #aeacab;
    color: #ffffff;
    background-color: #38367a;
}

#btn-sub {
    background-image: url(../images/save.png);
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff;
    margin-top: 3px;
}

input[class="form-control"] {
    border: 1px dotted #aeacab;
}

@media (max-width: 767px) {
    .input-group-prepend1 {
        width: 100%;
    }

    .input-group-prepend2 {
        width: 100%;
    }

    .input-group-prepend3 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .radioLabel {
        width: 100%!important;
    }

    .radioDiv {
        height: 45px;
    }
}

@media (max-width: 767px) {

    .radioDiv {
        height: 60px;
    }
}

#btn-att {
    width: 105px;
    height: 55px;
    margin-top: 0;
    margin-right: 20px;
    background-position: center;
    background-image: url(../images/attachments.png);
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff;
}