<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>MedJacket</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-glyphicons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <style>
        .form-control {
            border-style: none;
        }

        .link-label {
            width: 70%;
            margin-left: 15%;
            padding: 8px;
            background-color: #827da0;
            color: #ffffff;
            border-radius: 15px;
            margin-top: 2%;
        }

        .icon {
            max-width: 150px;
            max-height: 150px;
            height: 150px;
            width: 150px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light header-custom">
    <div class="header-left">
        <span style="float: left;font-size: 24px;font-weight: bold;">Examinations Form</span><span style="font-size: 24px;margin-left: 10px;" th:text="*{patient.firstName + ' ' + patient.secondName}"></span>
        <a style="float: left;clear: both;color: #ffffff;" th:href="@{/patient/list}"><img th:src="@{/images/back_arrow.png}"> Back</a>
    </div>
    <div class="header-right">
        <div class="header-logo">
            <img th:src="@{/images/logo_cropped.png}" style="width: 100px; height: 83px;" alt="">
        </div>
        <div class="header-headings">
            <h1 style="font-weight: bold">MEDJACKET</h1>
            <h6 style="margin-left: 3px; float: right;">Health is my right</h6>
        </div>
    </div>
</nav>
<div class="container text-center">
    <div class="form-control" style="margin-top: 2%;">
        <h4 th:text="${userName}" style="float: left"></h4>
    </div>
    <div class="form-control" style="display: inline;">
    <div class="row">
        <div class="col">
            <a href="#">
                <img th:src="@{/images/temp.png}" alt="" class="icon">
                <p class="link-label">Temperature</p>
            </a>
        </div>
        <div class="col">
            <a href="#">
                <img alt="" th:src="@{/images/ir.png}" class="icon">
                <p class="link-label">IR Thermometer</p>
            </a>
        </div>
        <div class="col">
            <a href="#">
                <img alt="" th:src="@{/images/oxim.png}" class="icon">
                <p class="link-label">Pulse Oximeter</p>
            </a>
        </div>
    </div>
        <div class="form-control" style="display: inline;">
            <div class="row">
                <div class="col">
                    <a href="#">
                        <img th:src="@{/images/blood_pressure.png}" alt="" class="icon">
                        <p class="link-label">Blood Pressure</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img alt="" th:src="@{/images/diabetes.png}" class="icon">
                        <p class="link-label">Diabetes test</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <img alt="" th:src="@{/images/ecg.png}" class="icon">
                        <p class="link-label">ECG</p>
                    </a>
                </div>
            </div>
        </div>
</div>

</div>
</body>
</html>