<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>MedJacket</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/logo_transparent.png}" />
    <script src="webjars/jquery/3.5.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light header-custom">
    <div class="header-left">
    </div>
    <div class="header-right">
        <div class="header-logo">
            <img th:src="@{/images/logo_cropped.png}" style="width: 100px; height: 83px;" alt="">
        </div>
        <div class="header-headings">
            <h1>MEDJACKET</h1>
            <h6 style="margin-left: 3px; float: right;">Health is my right</h6>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 10%;">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <img class="login-image" th:src="@{/images/logo_cropped.png}" alt="logo">
        </div>
        <div class="col-sm-12 col-lg-6">
            <form th:action="@{/login}" method="POST" class="form-signin" style="text-align: center">
                <h3 class="form-signin-heading" style="width: 100%;">User Login</h3>
                <br/>
                <input type="text" id="username" name="username" placeholder="Email" class="login-input form-control"/> <br/>
                <input type="password" th:placeholder="Password" id="password" name="password" class="login-input form-control"/> <br/>
                <div th:if="${param.error}">
                    <p style="font-size: 20px; color: #FF1C19;">User name or password invalid, please verify</p>
                </div>
                <button class="btn btn-lg btn-primary btn-block login-button" name="Submit" value="Login" type="Submit" th:text="Login" style="margin-bottom: 10px;"></button>
                <a style="text-decoration: underline!important; cursor: pointer;" th:href="@{/register}">Register your Hospital</a>
            </form>
        </div>
    </div>

</div>
</body>
</html>
