<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>MedJacket</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-glyphicons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://assets-gritmatch-public.s3.amazonaws.com/bootstrap-fileinput-v5.0.6/bootstrap-fileinput-master/js/fileinput.min.js"></script>
    <script src="https://assets-gritmatch-public.s3.amazonaws.com/bootstrap-fileinput-v5.0.6/bootstrap-fileinput-master/js/plugins/sortable.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://assets-gritmatch-public.s3.amazonaws.com/bootstrap-fileinput-v5.0.6/bootstrap-fileinput-master/css/fileinput.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <script th:src="@{/js/jquery.date-dropdowns.js}"></script>
    <style>
        .day {
            padding: 8px;
        }

        .year {
            padding: 8px;
        }

        .previousOperationInput {
            height: 62px;
        }

        .kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }
        .kv-avatar {
            display: inline-block;
        }
        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }
        .kv-reqd {
            color: red;
            font-family: monospace;
            font-weight: normal;
        }

        .file-footer-caption {
            margin-bottom: 0px !important;
        }

        .file-drop-zone .file-preview-thumbnails{
            display: inline-block;
        }

        .krajee-default .file-actions{
            padding-top: 30px; /* Move delete/vew buttons down to accomodate progress messages */
        }

        .kv-fileinput-error ul {
            margin: 0 0 0 1rem;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-light header-custom">
    <div class="header-left">
        <span style="float: left;font-size: 24px;font-weight: bold;">Device Registration</span>
    </div>
    <div class="header-right">
        <div class="header-logo">
            <img th:src="@{/images/logo_cropped.png}" style="width: 100px; height: 83px;" alt="">
        </div>
        <div class="header-headings">
            <h1 style="font-weight: bold">MEDJACKET</h1>
            <h6 style="margin-left: 3px; float: right;">Health is my right</h6>
        </div>
    </div>
</nav>
<form id="form_user" th:action="@{/register}" th:object="${device}" method="post">
    <div class="container text-center" style="margin-top: 3%;">
        <div class="form-group" style="display: flex;">
            <button onclick="submitForm()" type="button" id="btn-sub">
                <p class="action-label" style="margin-top: 45.5px;" th:text="#{common.save}"></p>
            </button>
        </div>
        <span id="validator" class="validator" style="color: red;width: 100%;font-size: 12px;">Please fill all mandatory fields</span>
        <ul class="tab-nav nav nav-tabs" style="margin-right: -15px; margin-left: -15px;">
            <li class="nav-item active">
                <a class="nav-link active" href="#1" data-toggle="tab" th:text="#{patient.general_details}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#2" data-toggle="tab">Administrator details</a>
            </li>
        </ul>
        <div class="form-group">
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group input-group required">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Machine Id</span>
                            </div>
                            <input type="text" th:field="*{machineID}" class="form-control" id="machineID" required="true">
                            <span id="validator_machine_id" class="validator" style="color: #ffffff;width: 100%;font-size: 12px;">Please fill machine Id</span>
                        </div>
                        <div class="form-group input-group required">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Hospital Name</span>
                            </div>
                            <input type="text" onkeydown="return alphaOnly(event);" th:field="*{hospitalName}" class="form-control" id="hospitalName" required="true">
                            <span id="validator_hospital_name" class="validator" style="color: #ffffff;width: 100%;font-size: 12px;">Please fill Hospital Name</span>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend input-group-prepend1 radioLabel">
                                <span class="input-group-text">Have Branches</span>
                            </div>
                            <div class="form-control radioDiv">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="yes" name="yes" class="custom-control-input" value="M" th:field="*{haveBranches}" required="true">
                                    <label class="custom-control-label" for="yes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="no" name="no" class="custom-control-input" value="F" th:field="*{haveBranches}" required="true">
                                    <label class="custom-control-label" for="no">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Hospital Branch</span>
                            </div>
                            <input type="text" th:field="*{hospitalBranch}" class="form-control" id="hospitalBranch">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Hospital Ward</span>
                            </div>
                            <input type="text" th:field="*{hospitalWard}" class="form-control" id="hospitalWard">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Hospital Address</span>
                            </div>
                            <input type="text" th:field="*{hospitalAddress}" class="form-control" id="hospitalAddress">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group input-group">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Website Address</span>
                            </div>
                            <input type="text" th:field="*{websiteAddress}" class="form-control" id="websiteAddress">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Number of users</span>
                            </div>
                            <input type="number" th:field="*{numberOfUsers}" class="form-control" id="numberOfUsers">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="2">
                <div class="row">
                    <div class="col">
                        <div class="form-group input-group required">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text" th:text="#{patient.email}"></span>
                            </div>
                            <input type="text" th:field="*{email}" class="form-control" id="email">
                            <span id="email_validator" class="validator" style="color: #ffffff;width: 100%;font-size: 12px;">Invalid email address</span>
                            <span id="validator_email" class="validator" style="color: #ffffff;width: 100%;font-size: 12px;">Please fill email</span>
                        </div>
                        <div class="form-group input-group required">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" th:field="*{password}" class="form-control" id="password">
                            <span id="password_validator" class="validator" style="color: #ffffff;width: 100%;font-size: 12px;">Minimum 8 characters with upper and lower case and numbers</span>
                            <span id="validator_password" class="validator" style="color: #ffffff;width: 100%;font-size: 12px;">Please fill password</span>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend input-group-prepend1" style="width: 30%;">
                                <span class="input-group-text" th:text="#{patient.telephone}"></span>
                            </div>
                            <input type="text" onkeydown="return numericAndPlusOnly(event);" th:field="*{telephone}" minlength="2" maxlength="12" pattern="([0-9]{12})" class="form-control" id="telephone" title="from 2 till 12 characters">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Main Contact Person Name</span>
                            </div>
                            <input type="text" th:field="*{mainContactPersonName}" class="form-control" id="mainContactPersonName">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Main Contact Person Email</span>
                            </div>
                            <input type="text" th:field="*{mainContactPersonEmail}" class="form-control" id="mainContactPersonEmail">
                            <span id="email_validator2" class="validator" style="color: #ffffff;width: 100%;font-size: 12px;">Invalid email address</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/language_selector :: language_selector"></div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('international?lang=' + selectedOption);
            }
        });
    });
</script>
<script>
    function submitForm() {
        var emailReg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if($("#machineID").val().length === 0) {
            $("#validator_machine_id").css('color', 'red');
            $("#validator").show();
        } else if($("#hospitalName").val().length === 0) {
            $("#validator_hospital_name").css('color', 'red');
            $("#validator").show();
        } else if($("#email").val().length === 0) {
            $("#validator_email").css('color', 'red');
            $("#validator").show();
        } else if (emailReg.test($("#email").val()) == false) {
            $("#email_validator").show();
            $("#validator").show();
        } else if($("#password").val().length === 0) {
            $("#validator_password").css('color', 'red');
            $("#validator").show();
        } else if(!testPassword()) {
            $("#validator").show();
        } else {
            $("#form_user").submit();
        }
    }

    $(function () {
        $("#validator").hide();
    });

    $('#email').on('input', function() {
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if (reg.test($(this).val()) == false)
        {
            $("#email_validator").css('color', 'red');
        } else {
            $("#email_validator").css('color', '#ffffff');
        }
    });

    $('#mainContactPersonEmail').on('input', function() {
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if (reg.test($(this).val()) == false)
        {
            $("#email_validator2").css('color', 'red');
        } else {
            $("#email_validator2").css('color', '#ffffff');
        }
    });

    $('#password').on('input', function() {
        testPassword();
    });

    function testPassword() {
        var letter = /[a-z]/;
        var upper = /[A-Z]/;
        var number = /[0-9]/;

        if($("#password").val().length < 8 || !letter.test($("#password").val()) || !number.test($("#password").val()) || !upper.test($("#password").val())) {
            $("#password_validator").css('color', 'red');
            return false
        } else {
            $("#password_validator").css('color', '#ffffff');
            return true;
        }
    }

</script>
<script>

    function alphaOnly(event) {
        var key = event.keyCode;
        return ((key >= 65 && key <= 90) || key == 8 || key == 32);
    };

    function alphaNumericOnly(event) {
        var key = event.keyCode;
        var shift = event.shiftKey;
        return ((key >= 65 && key <= 90) || key == 8 || key == 32 || (key >= 48 && key <= 57 && !shift) || (key >= 96 && key <= 105 && !shift));
    };

    function numericOnly(event) {
        var key = event.keyCode;
        var shift = event.shiftKey;
        return (key == 8 || (key >= 48 && key <= 57 && !shift) || (key >= 96 && key <= 105 && !shift));
    };

    function numericAndPlusOnly(event) {
        var key = event.keyCode;
        var shift = event.shiftKey;
        return (key == 8 || key == 32 || (key >= 48 && key <= 57 && !shift) || (key >= 96 && key <= 105 && !shift) || (key == 187 && shift));
    };

</script>
</body>
</html>
