<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Open Hospital</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-glyphicons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery.date-dropdowns.js}"></script>
    <style>
        p {
            margin-bottom: 2px;
        }

        h4 {
            margin-top: 10px;
        }

        td {
            border: 1px dotted #aeacab;
            vertical-align: middle;
            border-top: 1px dotted #aeacab;
        }

        .patient_td {
            background-color: #e6e6e6;
        }

        th {
            color: #ffffff;
            background-color: #5f5b91;
            vertical-align: middle!important;
            border: 1px dotted #aeacab;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light header-custom">
    <div class="header-left">
        <span style="float: left;font-size: 24px;font-weight: bold;">Patient Visit Form</span><span style="font-size: 24px;margin-left: 10px;" th:text="*{patient.firstName + ' ' + patient.secondName}"></span>
        <a style="float: left;clear: both;color: #ffffff;" th:href="@{/patient/list}"><img th:src="@{/images/back_arrow.png}"> Back</a>
    </div>
    <div class="header-right">
        <div class="header-logo">
            <img th:src="@{/images/logo_cropped.png}" style="width: 100px; height: 83px;" alt="">
        </div>
        <div class="header-headings">
            <h1 style="font-weight: bold">MEDJACKET</h1>
            <h6 style="margin-left: 3px; float: right;">Health is my right</h6>
        </div>
    </div>
</nav>

    <div class="container text-center" style="margin-top: 3%;">
        <div class="form-group" style="display: flex;">
            <button type="submit" id="btn-sub" form="addVisit">
                <p class="action-label" style="margin-top: 45.5px;">Save</p>
            </button>
            <a th:href="@{/patient/list}" style="margin-left: 2%;">
                <img class="action-icon" alt="" th:src="@{/images/discard.png}">
                <p class="action-label">Discard</p>
            </a>
        </div>
        <ul class="nav nav-tabs" style="margin-right: -15px; margin-left: -15px;">
            <li class="nav-item nav-item33 active">
                <a class="nav-link active" href="#1" data-toggle="tab">Consultation</a>
            </li>
            <li class="nav-item nav-item33">
                <a class="nav-link" href="#2" data-toggle="tab">Patient Visit Records</a>
            </li>
            <li class="nav-item nav-item33">
                <a class="nav-link" href="#3" data-toggle="tab">Examinations</a>
            </li>
        </ul>
        <div>
            <div style="margin-bottom: 3%; background-color: #ffffff; width: 20%; float: left; height: 147px;">
                <img id="userPic" th:src="@{/patient/userPic/{id}(id=${patient.code})}" alt="your image" style="max-width: 100%; max-height: 100%;"/>
            </div>
            <table class="table" style="margin-top: 15px; width: 79%; margin-left: 1%;">
                <tbody>
                <tr>
                    <td class="patient_td" th:text="*{patient.firstName + ' ' + patient.secondName}"></td>
                    <td class="patient_td" th:text="*{patient.age + ' Y'}"></td>
                    <div th:switch="${patient.sex}">
                        <td class="patient_td" th:case="'M'">Male</td>
                        <td class="patient_td" th:case="'F'">Female</td>
                    </div>
                    <td class="patient_td" th:text="*{patient.maritalStatus}"></td>
                    <td class="patient_td" th:text="*{patient.city}"></td>
                    <td class="patient_td" th:text="*{'Aadhaar number:' + patient.taxCode}"></td>
                    <td class="patient_td" th:text="*{'Allergies: ' + patient.allergies}"></td>
                </tr>
                <tr>
                    <td class="patient_td" th:text="*{'Blood Type: ' + patient.bloodType}"></td>
                    <div th:switch="${patient.hasInsurance}">
                        <td class="patient_td" th:case="'Y'">Has Insurance</td>
                        <td class="patient_td" th:case="'N'">No Insurance</td>
                    </div>
                    <td class="patient_td" th:text="*{patient.insuranceCompany + ' ' + patient.insuranceNumber}"></td>
                    <div th:switch="${patient.smoker}">
                        <td class="patient_td"th:case="'Y'">Smoker</td>
                        <td class="patient_td" th:case="'N'">Not smoker</td>
                    </div>
                    <div th:switch="${patient.alcohol}">
                        <td class="patient_td" th:case="'Y'">Alcoholic</td>
                        <td class="patient_td" th:case="'N'">Not Alcoholic</td>
                    </div>
                    <div th:switch="${patient.healthCards}">
                        <td class="patient_td" th:case="'Y'">Health Card Available</td>
                        <td class="patient_td" th:case="'N'">Health Card not Available</td>
                    </div>
                    <td class="patient_td" th:text="*{patient.healthCardType + ' ' + patient.healthCardNumber}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <form id="addVisit" th:action="@{/patient/visit/add/{id}(id=${patient.code})}" th:object="${visit}" method="post">
                    <div class="form-group" style="width: 50%;margin-left: 25%;">
                        <div class="form-group input-group required">
                            <div class="input-group-prepend input-group-prepend1">
                                <span class="input-group-text">Nature of visit:</span>
                            </div>
                            <div class="form-control">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="home" name="home" class="custom-control-input" value="H" th:field="*{type}" required="true">
                                    <label class="custom-control-label" for="home">Home visit</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="clinic" name="clinic" class="custom-control-input" value="C" th:field="*{type}" required="true">
                                    <label class="custom-control-label" for="clinic">Visit to Clinic</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-left: 15px;">

                            <div class="form-group input-group mainComplaint1">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Main Symptom 1</span>
                                </div>
                                <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{mainComplaintSymptom1}" id="mainComplaintSymptom1">
                                <datalist id="symptoms">
                                    <option th:each="symtom : ${symptoms}"
                                            th:value="${symtom.toString()}"
                                            th:utext="${symtom.toString()}">
                                    </option>
                                </datalist>
                            </div>
                            <div class="form-group input-group mainComplaint mainComplaint2">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Main Symptom 2</span>
                                </div>
                                <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{mainComplaintSymptom2}" id="mainComplaintSymptom2">
                                <datalist id="symptoms">
                                    <option th:each="symtom : ${symptoms}"
                                            th:value="${symtom.toString()}"
                                            th:utext="${symtom.toString()}">
                                    </option>
                                </datalist>
                            </div>
                            <div class="form-group input-group mainComplaint mainComplaint3">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Main Symptom 3</span>
                                </div>
                                <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{mainComplaintSymptom3}" id="mainComplaintSymptom3">
                                <datalist id="symptoms">
                                    <option th:each="symtom : ${symptoms}"
                                            th:value="${symtom.toString()}"
                                            th:utext="${symtom.toString()}">
                                    </option>
                                </datalist>
                            </div>
                            <div class="form-group input-group mainComplaint mainComplaint4">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Main Symptom 4</span>
                                </div>
                                <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{mainComplaintSymptom4}" id="mainComplaintSymptom4">
                                <datalist id="symptoms">
                                    <option th:each="symtom : ${symptoms}"
                                            th:value="${symtom.toString()}"
                                            th:utext="${symtom.toString()}">
                                    </option>
                                </datalist>
                            </div>
                            <div class="form-group input-group mainComplaint mainComplaint5">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Main Symptom 5</span>
                                </div>
                                <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{mainComplaintSymptom5}" id="mainComplaintSymptom5">
                                <datalist id="symptoms">
                                    <option th:each="symtom : ${symptoms}"
                                            th:value="${symtom.toString()}"
                                            th:utext="${symtom.toString()}">
                                    </option>
                                </datalist>
                            </div>
                            <div class="form-group mainComplaintButton">
                                <button type="button" class="btn btn-secondary" onclick="addMainSymptom()">Add</button>
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Main Diagnosis 1:</span>
                                </div>
                                <input style="height: 62px;" list="diseases" class="form-control" th:field="*{mainComplaintDiagnosis1}" id="mainComplaintDiagnosis1">
                                <datalist id="diseases">
                                    <option th:each="disease : ${diseases}"
                                            th:value="${disease.toString()}"
                                            th:utext="${disease.toString()}">
                                    </option>
                                </datalist>
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Main Diagnosis 2:</span>
                                </div>
                                <input style="height: 62px;" list="diseases" class="form-control" th:field="*{mainComplaintDiagnosis2}" id="mainComplaintDiagnosis2">
                                <datalist id="diseases">
                                    <option th:each="disease : ${diseases}"
                                            th:value="${disease.toString()}"
                                            th:utext="${disease.toString()}">
                                    </option>
                                </datalist>
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Main Diagnosis 3:</span>
                                </div>
                                <input style="height: 62px;" list="diseases" class="form-control" th:field="*{mainComplaintDiagnosis3}" id="mainComplaintDiagnosis3">
                                <datalist id="diseases">
                                    <option th:each="disease : ${diseases}"
                                            th:value="${disease.toString()}"
                                            th:utext="${disease.toString()}">
                                    </option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col">
                                <div class="form-group input-group secondaryComplaint1">
                                    <div class="input-group-prepend input-group-prepend2">
                                        <span class="input-group-text" style="white-space: unset; text-align: left;">Secondary Symptom 1</span>
                                    </div>
                                    <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{secondaryComplaintSymptom1}" id="secondaryComplaintSymptom1">
                                    <datalist id="symptoms">
                                        <option th:each="symtom : ${symptoms}"
                                                th:value="${symtom.toString()}"
                                                th:utext="${symtom.toString()}">
                                        </option>
                                    </datalist>
                                </div>
                                <div class="form-group input-group secondaryComplaint secondaryComplaint2">
                                    <div class="input-group-prepend input-group-prepend2">
                                        <span class="input-group-text" style="white-space: unset; text-align: left;">Secondary Symptom 2</span>
                                    </div>
                                    <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{secondaryComplaintSymptom2}" id="secondaryComplaintSymptom2">
                                    <datalist id="symptoms">
                                        <option th:each="symtom : ${symptoms}"
                                                th:value="${symtom.toString()}"
                                                th:utext="${symtom.toString()}">
                                        </option>
                                    </datalist>
                                </div>
                                <div class="form-group input-group secondaryComplaint secondaryComplaint3">
                                    <div class="input-group-prepend input-group-prepend2">
                                        <span class="input-group-text" style="white-space: unset; text-align: left;">Secondary Symptom 3</span>
                                    </div>
                                    <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{secondaryComplaintSymptom3}" id="secondaryComplaintSymptom3">
                                    <datalist id="symptoms">
                                        <option th:each="symtom : ${symptoms}"
                                                th:value="${symtom.toString()}"
                                                th:utext="${symtom.toString()}">
                                        </option>
                                    </datalist>
                                </div>
                                <div class="form-group input-group secondaryComplaint secondaryComplaint4">
                                    <div class="input-group-prepend input-group-prepend2">
                                        <span class="input-group-text" style="white-space: unset; text-align: left;">Secondary Symptom 4</span>
                                    </div>
                                    <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{secondaryComplaintSymptom4}" id="secondaryComplaintSymptom4">
                                    <datalist id="symptoms">
                                        <option th:each="symtom : ${symptoms}"
                                                th:value="${symtom.toString()}"
                                                th:utext="${symtom.toString()}">
                                        </option>
                                    </datalist>
                                </div>
                                <div class="form-group input-group secondaryComplaint secondaryComplaint5">
                                    <div class="input-group-prepend input-group-prepend2">
                                        <span class="input-group-text" style="white-space: unset; text-align: left;">Secondary Symptom 5</span>
                                    </div>
                                    <input style="height: 62px;" list="symptoms" class="form-control" th:field="*{secondaryComplaintSymptom5}" id="secondaryComplaintSymptom5">
                                    <datalist id="symptoms">
                                        <option th:each="symtom : ${symptoms}"
                                                th:value="${symtom.toString()}"
                                                th:utext="${symtom.toString()}">
                                        </option>
                                    </datalist>
                                </div>
                                <div class="form-group secondaryComplaintButton">
                                    <button type="button" class="btn btn-secondary" onclick="addSecondarySymptom()">Add</button>
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend input-group-prepend2">
                                        <span class="input-group-text" style="white-space: unset; text-align: left;">Secondary Diagnosis:</span>
                                    </div>
                                    <input style="height: 62px;" list="diseases" class="form-control" th:field="*{secondaryComplaintDiagnosis}" id="secondaryComplaintDiagnosis">
                                    <datalist id="diseases">
                                        <option th:each="disease : ${diseases}"
                                                th:value="${disease.toString()}"
                                                th:utext="${disease.toString()}">
                                        </option>
                                    </datalist>
                                </div>
                        </div>
                        <div class="col">
                            <div class="form-group input-group">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Medicine Prescribed</span>
                                </div>
                                <input style="height: 62px;" class="form-control" th:field="*{medicinePrescribed}" id="medicinePrescribed">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">General Instructions</span>
                                </div>
                                <input style="height: 62px;" class="form-control" th:field="*{generalInstructions}" id="generalInstructions">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Examinations Prescribed</span>
                                </div>
                                <input style="height: 62px;" class="form-control" th:field="*{examinationsPrescribed}" id="examinationsPrescribed">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend input-group-prepend2">
                                    <span class="input-group-text" style="white-space: unset; text-align: left;">Advisory</span>
                                </div>
                                <input style="height: 62px;" class="form-control" th:field="*{advisory}" id="advisory">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend input-group-prepend1" style="float: left; width: 100%;">
                                    <span class="input-group-text">Next Visit Date</span>
                                </div>
                                <input class="form-control" type="hidden" th:field="*{nextVisitDate}" name="nextVisitDate" id="nextVisitDate" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="2">
                <div class="form-group">
                    <div th:switch="*{visits}">
                        <h2 th:case="null">No previous visits</h2>
                        <div th:case="*">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Symptoms</th>
                                    <th scope="col">Diagnosis</th>
                                    <th scope="col">Treatment</th>
                                    <th scope="col">Management</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="visit : *{visits}">
                                    <td th:text="*{visit.visitDate}"></td>
                                    <td th:text="*{visit.type}"></td>
                                    <td th:text="*{visit.mainComplaintSymptoms}"></td>
                                    <td th:text="*{visit.mainComplaintDiagnosis}"></td>
                                    <td th:text="*{visit.treatment}"></td>
                                    <td th:text="*{visit.management}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="3">
                <div class="row">
                    <div class="col">
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.respiratoryRateColor}" th:text="*{'Respiratory Rate(brth/min): ' + examinations.respiratoryRate}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.o2SaturationColor}" th:text="*{'O2 Saturation(%): ' + examinations.o2Saturation}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.o2FlowRateColor}" th:text="*{'O2 Flow Rate(L/min): ' + examinations.o2FlowRate}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.bloodPressureMaxColor}" th:text="*{'Blood Pressure sys(mmHg): ' + examinations.bloodPressureMax}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.bloodPressureMinColor}" th:text="*{'Blood Pressure dia(mmHg): ' + examinations.bloodPressureMin}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.smellColor}" th:text="*{'Smell: ' + examinations.smell}"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.bodyMassIndexColor}" th:text="*{'Body Mass Index: ' + examinations.bodyMassIndex}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.heartRateColor}" th:text="*{'Heart Rate(beats/min): ' + examinations.heartRate}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.temperatureColor}" th:text="*{'Temperature(°C): ' + examinations.temperature}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:style="*{'color:' + examinations.bloodGlucoseLevelColor}" th:text="*{'Blood Glucose Levels: ' + examinations.bloodGlucoseLevel}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:text="*{'Examinations date: ' + examinations.date}"></label>
                        </div>
                        <div class="form-group border-group">
                            <label th:text="*{'Total score: ' + examinations.score}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

    $(function () {
        $("#nextVisitDate").dateDropdowns({
            submitFormat: "dd/mm/yyyy",
            minAge: -2,
            maxAge: 0
        });

        $(".day").addClass("form-control");
        $(".month").addClass("form-control");
        $(".year").addClass("form-control");

        $(".day").css("width", "30%");
        $(".month").css("width", "40%");
        $(".year").css("width", "30%");

        $(".day").css("float", "left");
        $(".month").css("float", "left");
        $(".year").css("float", "left");

    });

    function addMainSymptom() {
        if ($(".mainComplaint2").is(":hidden")) {
            $(".mainComplaint2").show();
            return;
        }
        if ($(".mainComplaint3").is(":hidden")) {
            $(".mainComplaint3").show();
            return;
        }
        if ($(".mainComplaint4").is(":hidden")) {
            $(".mainComplaint4").show();
            return;
        }
        if ($(".mainComplaint5").is(":hidden")) {
            $(".mainComplaint5").show();
            $(".mainComplaintButton").hide();
            return;
        }
    }

    function addSecondarySymptom() {
        if ($(".secondaryComplaint2").is(":hidden")) {
            $(".secondaryComplaint2").show();
            return;
        }
        if ($(".secondaryComplaint3").is(":hidden")) {
            $(".secondaryComplaint3").show();
            return;
        }
        if ($(".secondaryComplaint4").is(":hidden")) {
            $(".secondaryComplaint4").show();
            return;
        }
        if ($(".secondaryComplaint5").is(":hidden")) {
            $(".secondaryComplaint5").show();
            $(".secondaryComplaintButton").hide();
            return;
        }
    }

    $(document).ready(function() {
        $(".mainComplaint").hide();
        $(".secondaryComplaint").hide()
    });

</script>
</body>
</html>