<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>MedJacket</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-glyphicons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
    <script th:src="@{/js/jquery.date-dropdowns.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.css" rel="stylesheet" />
    <style>
        p {
            margin-bottom: 2px;
        }

        h4 {
            margin-top: 10px;
        }

        td {
            border: 1px dotted #aeacab;
            vertical-align: middle;
            border-top: 1px dotted #aeacab;
        }

        th {
            color: #ffffff;
            background-color: #5f5b91;
            vertical-align: middle!important;
            border: 1px dotted #aeacab;
        }

        .examDiv {
            background-color: #000000;
        }

        label {
            color: #ffffff;
        }

        .custom-control-label {
            color: #000000;
        }

        .modal-lg {
            max-width: 80% !important;
            text-align: left;
        }

        .btn-primary {
            background-color: #ffffff;
            color: #38367a;
            border-color: red;
        }

        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited, .btn-primary:disabled, btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus  {
            background-color: #38367a;
            color: #ffffff;
            border-color: red;
        }

        .custom-tooltip {
            width: 800px;
            position: absolute;
            border: solid 3px #38367a;
            top: 220px;
            margin-bottom: 5px;
            background: #ffffff;
            border-radius: 8px;
            padding: 10px;
            height: 250px;
            overflow-y: auto;
        }

        .custom-tooltip2 {
            border: solid 3px #38367a;
            background: #ffffff;
            white-space: pre-line;
            text-align: left;
            padding: 10px;
            border-radius: 8px;
            max-height: 300px;
            overflow-y: auto;
        }

        .level5 {
            background-color: #9000ff!important;
        }

        .level4 {
            background-color: #ff2e2e!important;
        }

        .level3 {
            background-color: #f7844a!important;
        }

        .level2 {
            background-color: #ebad63!important;
        }

        .level1 {
            background-color: #c4c700!important;
        }

        .level0 {
            background-color: #ffffff!important;
            color: #000000;
        }

        .ss-main .ss-multi-selected .ss-values .ss-value {
            background-color: #625e96;
            font-size: 16px;
        }

        .ss-main .ss-multi-selected .ss-values .ss-disabled {
            font-size: 16px;
        }

        .innerDiagnosis {
            border-top: 1px solid #625e96;
            padding: 7px;
            display: inline-block;
        }

        .symptomName {
            width: 70%;
            float: left;
            font-size: 20px;
        }

        .symptomPossibility {
            width: 30%;
            float: left;
        }

        .symptomsConfirmed {
            border: 1px solid #0c5f96;
            color: #0c5f96;
            border-radius: 8px;
            display: inline-block;
            float: left;
            padding: 2px 8px;
            margin: 5px;
        }

        .symptomsNonConfirmed {
            border: 1px solid #ffffff;
            border-radius: 8px;
            display: inline-block;
            float: left;
            padding: 2px 8px;
            margin: 5px;
        }

        .ss-multi-selected {
            max-height: 120px;
            overflow-y: auto;
        }

        .visit-red-btn{
            width: 100%;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-light header-custom">
    <div class="header-left">
        <span style="float: left;font-size: 24px;font-weight: bold;">Patient Visit Form</span><span style="font-size: 24px;margin-left: 10px;" th:text="*{patient.firstName + ' ' + patient.secondName}"></span>
    </div>
    <div class="header-right">
        <div class="header-logo">
            <img th:src="@{/images/logo_cropped.png}" style="width: 100px; height: 83px;" alt="">
        </div>
        <div class="header-headings">
            <h1 style="font-weight: bold">MEDJACKET</h1>
            <h6 style="margin-left: 3px; float: right;">Health is my right</h6>
        </div>
    </div>
</nav>
<div th:replace="fragments/header :: header"></div>
<div class="container text-center" style="margin-top: 3%;">
    <div class="form-group" style="display: flex;">
        <button type="submit" id="btn-sub" form="addVisit">
            <p class="action-label" style="margin-top: 45.5px;" th:text="#{common.save}"></p>
        </button>
        <a th:href="@{/patient/list}" style="margin-left: 2%;">
            <img class="action-icon" alt="" th:src="@{/images/discard.png}">
            <p class="action-label" th:text="#{common.discard}"></p>
        </a>
        <a th:href="@{/patient/pdd/{id}(id=${patient.code})}" style="margin-left: auto;">
            <div th:switch="${patient.pddScore}">
                <img th:case="'red'" class="action-icon" alt="" th:src="@{/images/heart_red.png}">
                <img th:case="'orange'" class="action-icon" alt="" th:src="@{/images/heart_orange.png}">
                <img th:case="'yellow'" class="action-icon" alt="" th:src="@{/images/heart_yellow.png}">
                <img th:case="'white'" class="action-icon" alt="" th:src="@{/images/heart_white.png}">
            </div>
            <p class="action-label">PDD</p>
        </a>
        <a href="https://doxy.me/medjacket" target="_blank" style="margin-left: 2%;">
            <img class="action-icon" alt="" th:src="@{/images/nursing_station.png}">
            <p class="action-label">Call the Doctor</p>
        </a>
    </div>
    <ul class="nav nav-tabs" style="margin-right: -15px; margin-left: -15px;">
        <li class="nav-item nav-item33" id="ul1">
            <a class="nav-link" id="a1" href="#1" data-toggle="tab" th:text="#{visit.consultation}"></a>
        </li>
        <li class="nav-item nav-item33" id="ul2">
            <a class="nav-link" id="a2" href="#2" data-toggle="tab" th:text="#{visit.patient_visit_records}"></a>
        </li>
        <li class="nav-item nav-item33">
            <a class="nav-link" href="#3" data-toggle="tab" th:text="#{common.examinations}"></a>
        </li>
    </ul>
    <div class="table-wrap">
        <div style="margin-top:3%; margin-bottom: 3%; background-color: #ffffff; width: 20%; float: left; height: 147px;">
            <img id="userPic" th:src="@{/patient/userPic/{id}(id=${patient.code})}" alt="your image" style="height: 100%;"/>
        </div>
        <table class="table" style="margin-top: 15px; width: 79%; margin-left: 1%;">
            <tbody>
            <tr>
                <td class="patient_td" th:text="*{patient.firstName + ' ' + patient.secondName}"></td>
                <td class="patient_td" th:text="*{patient.age + ' Y'}"></td>
                <div th:switch="${patient.sex}">
                    <td class="patient_td" th:case="'M'" th:text="#{patient.male}"></td>
                    <td class="patient_td" th:case="'F'" th:text="#{patient.female}"></td>
                </div>
                <td class="patient_td" th:text="*{patient.maritalStatus}"></td>
                <td class="patient_td" th:text="*{patient.city}"></td>
                <td class="patient_td" th:text="*{'Aadhaar number:' + patient.taxCode}"></td>
                <td class="patient_td" th:text="*{'Allergies: ' + patient.allergies}"></td>
            </tr>
            <tr>
                <td class="patient_td" th:text="*{'Blood Type: ' + patient.bloodType}"></td>
                <div th:switch="${patient.hasInsurance}">
                    <td class="patient_td" th:case="'Y'" th:text="#{visit.has_insurance}"></td>
                    <td class="patient_td" th:case="'N'" th:text="#{visit.no_insurance}"></td>
                    <td class="patient_td" th:case="*" th:text="#{visit.no_insurance_information}"></td>
                </div>
                <td class="patient_td" th:text="*{patient.insuranceCompany + ' ' + patient.insuranceNumber}"></td>
                <div th:switch="${patient.smoker}">
                    <td class="patient_td"th:case="'Y'" th:text="#{visit.smoker}"></td>
                    <td class="patient_td" th:case="'N'" th:text="#{visit.not_smoker}"></td>
                    <td class="patient_td" th:case="*" th:text="#{visit.no_smoker_infomation}"></td>
                </div>
                <div th:switch="${patient.alcohol}">
                    <td class="patient_td" th:case="'Y'" th:text="#{visit.alcoholic}"></td>
                    <td class="patient_td" th:case="'N'" th:text="#{visit.not_alcoholic}"></td>
                    <td class="patient_td" th:case="*" th:text="#{visit.no_alcohol_infomation}"></td>
                </div>
                <div th:switch="${patient.healthCards}">
                    <td class="patient_td" th:case="'Y'" th:text="#{visit.health_card_available}"></td>
                    <td class="patient_td" th:case="'N'" th:text="#{visit.health_card_not_available}"></td>
                    <td class="patient_td" th:case="*" th:text="#{visit.no_health_card_information}"></td>
                </div>
                <td class="patient_td" th:text="*{patient.healthCardType + ' ' + patient.healthCardNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<div class="tab-content">
    <div class="tab-pane" id="1">
        <form id="addVisit" th:action="@{/patient/visit/add/{id}(id=${patient.code})}" th:object="${visit}" method="post">
            <div class="form-group" style="width: 70%;margin-left: 15%;">
                <div class="form-group input-group required">
                    <div class="input-group-prepend input-group-prepend1 radioLabel">
                        <span class="input-group-text" th:text="#{visit.nature_of_visit}"></span>
                    </div>
                    <div class="form-control radioDiv">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="home" name="home" class="custom-control-input" value="H" th:field="*{type}" required="true">
                            <label class="custom-control-label" for="home" th:text="#{visit.home_visit}"></label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="clinic" name="clinic" class="custom-control-input" value="C" th:field="*{type}" required="true">
                            <label class="custom-control-label" for="clinic" th:text="#{visit.visit_to_clinic}"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary visit-red-btn" data-toggle="modal" data-target="#symptomsModal" onclick="showSymptoms()">
                                <span th:text="#{visit.symptoms}"></span>
                                <img class="action-icon" alt="" th:src="@{/images/symptoms.png}">
                            </button>
                        </div>
                        <div class="modal fade" id="symptomsModal" tabindex="-1" role="dialog" aria-labelledby="symptomsModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="symptomsModalLabel" th:text="#{visit.symptoms}"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="symptomsModalText" style="white-space: pre-line;">
                                        Loading...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{common.close}">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary visit-red-btn" data-toggle="modal" data-target="#descriptionModal" onclick="showDescription()">
                                <span th:text="#{visit.diagnosis}"></span>
                                <img class="action-icon" alt="" th:src="@{/images/diagnosis.png}">
                            </button>
                        </div>
                        <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="descriptionModalLabel" th:text="#{visit.diagnosis}"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="descriptionModalText" style="white-space: pre-line;">
                                        Loading...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{common.close}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary visit-red-btn" data-toggle="modal" data-target="#managementModal" onclick="showManagement()">
                                <span th:text="#{visit.management}"></span>
                                <img class="action-icon" alt="" th:src="@{/images/management.png}">
                            </button>
                        </div>
                        <div class="modal fade" id="managementModal" tabindex="-1" role="dialog" aria-labelledby="managementModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="managementModalLabel" th:text="#{visit.management}"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="managementModalText" style="white-space: pre-line;">
                                        Loading...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{common.close}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="form-group input-group mainComplaint1">
                        <div class="input-group-prepend input-group-prepend2" style="float: left;width: 100%;">
                            <span class="input-group-text" style="white-space: unset; text-align: left;">Main Symptoms</span>
                        </div>
                        <select id="symptoms" th:field="*{mainComplaintSymptom}" onChange="getRecomendedDiagnosis()" multiple>
                                <option th:each="symtom : ${symptoms}"
                                        th:value="${symtom.toString()}"
                                        th:utext="${symtom.toString()}">
                                </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group input-group">
                        <div class="input-group-prepend input-group-prepend2" style="float: left;width: 100%;">
                            <span class="input-group-text" style="white-space: unset; text-align: left;">Pathology Tests</span>
                        </div>
                        <select style="height: 62px;" id="examinationsPrescribed" th:field="*{examinationsPrescribed}" multiple>
                            <option th:each="pathology : ${pathologies}"
                                    th:value="${pathology.toString()}"
                                    th:utext="${pathology.toString()}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="custom-tooltip2"></div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group input-group">
                        <div class="input-group-prepend input-group-prepend2" style="float: left;width: 100%;">
                            <span class="input-group-text" style="white-space: unset; text-align: left;">Radiology Tests</span>
                        </div>
                        <select style="height: 62px;" id="radiologyPrescribed" th:field="*{radiologyPrescribed}" multiple>
                            <option th:each="radiology : ${radiologies}"
                                    th:value="${radiology.toString()}"
                                    th:utext="${radiology.toString()}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group input-group">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left;" th:text="#{visit.main_diagnosis} + ' 1'"></span>
                        </div>
                        <select style="height: 62px;" class="form-control tooltip-select" th:field="*{mainComplaintDiagnosis1}" id="mainComplaintDiagnosis1">
                            <option th:each="disease : ${diseases}"
                                    th:value="${disease.name}"
                                    th:utext="${disease.name}"
                                    th:title="${disease.description}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left;" th:text="#{visit.main_diagnosis} + ' 2'"></span>
                        </div>
                        <select style="height: 62px;" class="form-control tooltip-select" th:field="*{mainComplaintDiagnosis2}" id="mainComplaintDiagnosis2">
                            <option th:each="disease : ${diseases}"
                                    th:value="${disease.name}"
                                    th:utext="${disease.name}"
                                    th:title="${disease.description}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left;" th:text="#{visit.main_diagnosis} + ' 3'"></span>
                        </div>
                        <select style="height: 62px;" class="form-control tooltip-select" th:field="*{mainComplaintDiagnosis3}" id="mainComplaintDiagnosis3">
                            <option th:each="disease : ${diseases}"
                                    th:value="${disease.name}"
                                    th:utext="${disease.name}"
                                    th:title="${disease.description}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group input-group">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left;" th:text="#{visit.secondary_diagnosis}"></span>
                        </div>
                        <input style="height: 62px;" list="diseases" class="form-control" th:field="*{secondaryComplaintDiagnosis}" id="secondaryComplaintDiagnosis">
                        <datalist id="diseases">
                            <option th:each="disease : ${diseases}"
                                    th:value="${disease.name}"
                                    th:utext="${disease.name}">
                            </option>
                        </datalist>
                    </div>
                    <div class="custom-tooltip">Symptom Description</div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group input-group">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left;" th:text="#{visit.advisory}"></span>
                        </div>
                        <input style="height: 62px;" class="form-control" th:field="*{advisory}" id="advisory">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend input-group-prepend1" style="float: left; width: 100%;">
                            <span class="input-group-text" th:text="#{visit.next_visit_date}"></span>
                        </div>
                        <input class="form-control" type="hidden" th:field="*{nextVisitDate}" name="nextVisitDate" id="nextVisitDate" onchange="checkDate(this);"/>
                        <span style="color:red;" id="dateError" th:text="#{visit.date_instructions}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="form-group input-group med1 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 1</span>
                        </div>
                        <input style="height: 62px;" class="form-control medication_input" th:field="*{med1}" id="med1">
                    </div>
                    <div class="form-group input-group med1 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left;">Medication 1 Time</span>
                        </div>
                        <input style="height: 62px;" class="form-control" th:field="*{med1_time}" id="med1_time">
                        <span class="caption">* please write time of use. If more then one: describe using coma (like 12:00, 18:30)</span>
                    </div>
                    <div class="form-group input-group med1 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 1 Duration</span>
                        </div>
                        <input style="height: 62px;" class="form-control" th:field="*{med1_duration}" id="med1_duration">
                    </div>
                    <div class="form-group input-group med1 medication_combination_div col-12 col-md-6 col-lg-3" style="margin-bottom: 2rem;">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 1 Notes</span>
                        </div>
                        <input style="height: 62px;" class="form-control medication_combination" th:field="*{med1_caution}" id="med1_caution">
                    </div>
            </div>
                <div class="row med med2">
                    <div class="form-group input-group med med2 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 2</span>
                        </div>
                        <input style="height: 62px;" class="form-control medication_input" th:field="*{med2}" id="med2">
                    </div>
                    <div class="form-group input-group med med2 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left;">Medication 2 Time</span>
                        </div>
                        <input style="height: 62px;" class="form-control" th:field="*{med2_time}" id="med2_time">
                        <span class="caption">* please write time of use. If more then one: describe using coma (like 12:00, 18:30)</span>
                    </div>
                    <div class="form-group input-group med med2 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 2 Duration</span>
                        </div>
                        <input style="height: 62px;" class="form-control" th:field="*{med2_duration}" id="med2_duration">
                    </div>
                    <div class="form-group input-group med med2 medication_combination_div col-12 col-md-6 col-lg-3" style="margin-bottom: 2rem;">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 2 Notes</span>
                        </div>
                        <input style="height: 62px;" class="form-control medication_combination" th:field="*{med2_caution}" id="med2_caution">
                    </div>
                </div>
                <div class="row med med3">
                    <div class="form-group input-group med med3 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 3</span>
                        </div>
                        <input style="height: 62px;" class="form-control medication_input" th:field="*{med3}" id="med3">
                    </div>
                    <div class="form-group input-group med med3 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left;">Medication 3 Time</span>
                        </div>
                        <input style="height: 62px;" class="form-control" th:field="*{med3_time}" id="med3_time">
                        <span class="caption">* please write time of use. If more then one: describe using coma (like 12:00, 18:30)</span>
                    </div>
                    <div class="form-group input-group med med3 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 3 Duration</span>
                        </div>
                        <input style="height: 62px;" class="form-control" th:field="*{med3_duration}" id="med3_duration">
                    </div>
                    <div class="form-group input-group med med3 medication_combination_div col-12 col-md-6 col-lg-3" style="margin-bottom: 2rem;">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 3 Notes</span>
                        </div>
                        <input style="height: 62px;" class="form-control medication_combination" th:field="*{med3_caution}" id="med3_caution">
                    </div>
                </div>
            <div class="row med med4">
                <div class="form-group input-group med med4 col-12 col-md-6 col-lg-3">
                    <div class="input-group-prepend input-group-prepend2">
                        <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 4</span>
                    </div>
                    <input style="height: 62px;" class="form-control medication_input" th:field="*{med4}" id="med4">
                </div>
                <div class="form-group input-group med med4 col-12 col-md-6 col-lg-3">
                    <div class="input-group-prepend input-group-prepend2">
                        <span class="input-group-text" style="white-space: unset; text-align: left;">Medication 4 Time</span>
                    </div>
                    <input style="height: 62px;" class="form-control" th:field="*{med4_time}" id="med4_time">
                    <span class="caption">* please write time of use. If more then one: describe using coma (like 12:00, 18:30)</span>
                </div>
                <div class="form-group input-group med med4 col-12 col-md-6 col-lg-3">
                    <div class="input-group-prepend input-group-prepend2">
                        <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 4 Duration</span>
                    </div>
                    <input style="height: 62px;" class="form-control" th:field="*{med4_duration}" id="med4_duration">
                </div>
                <div class="form-group input-group med med4 medication_combination_div col-12 col-md-6 col-lg-3">
                    <div class="input-group-prepend input-group-prepend2">
                        <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 4 Notes</span>
                    </div>
                    <input style="height: 62px;" class="form-control medication_combination" th:field="*{med4_caution}" id="med4_caution">
                </div>
            </div>
            <div class="row med med5">
                <div class="form-group input-group med med5 col-12 col-md-6 col-lg-3">
                    <div class="input-group-prepend input-group-prepend2">
                        <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 5</span>
                    </div>
                    <input style="height: 62px;" class="form-control medication_input" th:field="*{med5}" id="med5">
                </div>
                <div class="form-group input-group med med5 col-12 col-md-6 col-lg-3">
                    <div class="input-group-prepend input-group-prepend2">
                        <span class="input-group-text" style="white-space: unset; text-align: left;">Medication 5 Time</span>
                    </div>
                    <input style="height: 62px;" class="form-control" th:field="*{med5_time}" id="med5_time">
                    <span class="caption">* please write time of use. If more then one: describe using coma (like 12:00, 18:30)</span>
                </div>
                <div class="form-group input-group med med5 col-12 col-md-6 col-lg-3">
                    <div class="input-group-prepend input-group-prepend2">
                        <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 5 Duration</span>
                    </div>
                    <input style="height: 62px;" class="form-control" th:field="*{med5_duration}" id="med5_duration">
                </div>
                <div class="form-group input-group med med5 medication_combination_div  col-12 col-md-6 col-lg-3">
                    <div class="input-group-prepend input-group-prepend2">
                        <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 5 Notes</span>
                    </div>
                    <input style="height: 62px;" class="form-control medication_combination" th:field="*{med5_caution}" id="med5_caution">
                </div>
            </div>
                <div class="row med med6">
                    <div class="form-group input-group med med6 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 6</span>
                        </div>
                        <input style="height: 62px;" class="form-control medication_input" th:field="*{med6}" id="med6">
                    </div>
                    <div class="form-group input-group med med6 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left;">Medication 6 Time</span>
                        </div>
                        <input style="height: 62px;" class="form-control" th:field="*{med6_time}" id="med6_time">
                        <span class="caption">* please write time of use. If more then one: describe using coma (like 12:00, 18:30)</span>
                    </div>
                    <div class="form-group input-group med med6 col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 6 Duration</span>
                        </div>
                        <input style="height: 62px;" class="form-control" th:field="*{med6_duration}" id="med6_duration">
                    </div>
                    <div class="form-group input-group med med6 medication_combination_div col-12 col-md-6 col-lg-3">
                        <div class="input-group-prepend input-group-prepend2 ">
                            <span class="input-group-text" style="white-space: unset; text-align: left; height: 62px;">Medication 6 Notes</span>
                        </div>
                        <input style="height: 62px;" class="form-control medication_combination" th:field="*{med6_caution}" id="med6_caution">
                    </div>
                </div>
            <div class="form-group">
                <div class="form-group input-group medButton">
                    <button type="button" class="btn btn-secondary" onclick="addMedication()" style="width: 35%;margin-left: 32.5%;">Add Medication</button>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="2">
        <div class="form-group">
            <div th:switch="*{visits}">
                <h2 th:case="null" th:text="#{visit.no_previous_visits}"></h2>
                <div class="table-wrap" th:case="*">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" th:text="#{common.date}">Date</th>
                            <th scope="col" th:text="#{common.type}">Type</th>
                            <th scope="col" th:text="#{visit.symptoms}">Symptoms</th>
                            <th scope="col" th:text="#{visit.diagnosis}">Diagnosis</th>
                            <th scope="col" th:text="#{visit.treatment}">Treatment</th>
                            <th scope="col">Report</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="previosVisit : *{visits}">
                            <td th:text="*{previosVisit.visitDate}"></td>
                            <td th:text="*{previosVisit.type}"></td>
                            <td th:text="*{previosVisit.mainComplaintSymptoms}"></td>
                            <td th:text="*{previosVisit.mainComplaintDiagnosis}"></td>
                            <td th:text="*{previosVisit.treatment}"></td>
                            <td>
                                <a th:href="@{/patient/visit/get_visit_report/{id}(id=${previosVisit.visitID})}">
                                    <img class="action-icon" alt="" th:src="@{/images/download.png}" style="width: 25px; height: 25px; display: block; margin-left: auto; margin-right: auto;">
                                    <p class="action-label" style="color: #000000; font-size: 13px; text-align: center;">Download</p>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="3">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group border-group examDiv" th:classappend="*{examinations.respiratoryRateColor}">
                    <label th:text="*{'Respiratory Rate(brth/min): ' + examinations.respiratoryRate}" th:classappend="*{examinations.respiratoryRateColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.o2SaturationColor}">
                    <label th:text="*{'O2 Saturation(%): ' + examinations.o2Saturation}" th:classappend="*{examinations.o2SaturationColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.o2FlowRateColor}">
                    <label th:text="*{'O2 Flow Rate(L/min): ' + examinations.o2FlowRate}" th:classappend="*{examinations.o2FlowRateColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.bloodPressureMaxColor}">
                    <label th:text="*{'Blood Pressure sys(mmHg): ' + examinations.bloodPressureMax}" th:classappend="*{examinations.bloodPressureMaxColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.bloodPressureMinColor}">
                    <label th:text="*{'Blood Pressure dia(mmHg): ' + examinations.bloodPressureMin}" th:classappend="*{examinations.bloodPressureMinColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.smellColor}">
                    <label th:text="*{'Smell: ' + examinations.smell}" th:classappend="*{examinations.smellColor}"></label>
                </div>
                <div class="form-group border-group examDiv level0">
                    <label th:text="*{'Examinations date: ' + examinations.date}" class="level0"></label>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group border-group examDiv" th:classappend="*{examinations.bodyMassIndexColor}">
                    <label th:text="*{'Body Mass Index: ' + examinations.bodyMassIndex}" th:classappend="*{examinations.bodyMassIndexColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.heartRateColor}">
                    <label th:text="*{'Heart Rate(beats/min): ' + examinations.heartRate}" th:classappend="*{examinations.heartRateColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.temperatureColor}">
                    <label th:text="*{'Temperature(°C): ' + examinations.temperature}" th:classappend="*{examinations.temperatureColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.bloodGlucoseLevelColor}">
                    <label th:text="*{'Blood Glucose Levels: ' + examinations.bloodGlucoseLevel}" th:classappend="*{examinations.bloodGlucoseLevelColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.tasteColor}">
                    <label th:text="*{'Taste: ' + examinations.taste}" th:classappend="*{examinations.tasteColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.consciousnessColor}">
                    <label th:text="*{'Consciousness: ' + examinations.consciousness}" th:classappend="*{examinations.consciousnessColor}"></label>
                </div>
                <div class="form-group border-group examDiv" th:classappend="*{examinations.scoreColor}">
                    <label th:text="*{'Total score: ' + examinations.score}" th:classappend="*{examinations.scoreColor}"></label>
                </div>
            </div>
        </div>
    </div>
</div>
    <div th:replace="fragments/language_selector :: language_selector"></div>
</div>
<script>
    $(document).ready(function() {
        $(".med").hide()
    });

    function addMedication() {
        if ($(".med2").is(":hidden")) {
            $(".med2").show();
            return;
        }
        if ($(".med3").is(":hidden")) {
            $(".med3").show();
            return;
        }
        if ($(".med4").is(":hidden")) {
            $(".med4").show();
            return;
        }
        if ($(".med5").is(":hidden")) {
            $(".med5").show();
            return;
        }
        if ($(".med6").is(":hidden")) {
            $(".med6").show();
            $(".medButton").hide();
            return;
        }
    }

    var select = new SlimSelect({
        select: '#symptoms'
    });

    var select3 = new SlimSelect({
        select: '#examinationsPrescribed'
    });

    var select4 = new SlimSelect({
        select: '#radiologyPrescribed'
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var openOnLastVisits = [[${openOnLastVisits}]];
    /*]]>*/


    if (openOnLastVisits) {
        $("#ul2").addClass("active");
        $("#a2").addClass("active");
        $("#2").addClass("active");
    } else {
        $("#ul1").addClass("active");
        $("#a1").addClass("active");
        $("#1").addClass("active");
    }
</script>
<script>

    var nowYear = new Date().getFullYear();
    var nextYear = nowYear + 1;
    var nowDate = new Date();

    $(function () {
        $("#nextVisitDate").dateDropdowns({
            submitFormat: "dd/mm/yyyy",
            minYear: nowYear,
            maxYear: nextYear
        });

        $(".day").addClass("form-control");
        $(".month").addClass("form-control");
        $(".year").addClass("form-control");

        $(".day").css("width", "30%");
        $(".month").css("width", "40%");
        $(".year").css("width", "30%");

        $(".day").css("float", "left");
        $(".month").css("float", "left");
        $(".year").css("float", "left");

        $("#dateError").hide();

    });

    function checkDate(date) {
        var year = date.value.substring(6,10);
        var month = date.value.substring(3,5);
        var day = date.value.substring(0,2);
        var selectedDate = new Date(year + '-' + month + '-' + day);

        if (selectedDate < nowDate) {
            $("#dateError").show();
            $("#btn-sub").prop('disabled', true);
        } else {
            $("#dateError").hide();
            $("#btn-sub").prop('disabled', false);
        }


    }

    $(document).ready(function() {
        $(".mainComplaint").hide();
        $(".secondaryComplaint").hide();
        $(".custom-tooltip").hide();
        $(".custom-tooltip2").hide();
        $("select").val("");
    });


</script>
<script th:inline="javascript">

    var medicationsUrl = /*[[ @{/medication/get_medications} ]]*/

    var medicationsCombUrl = /*[[ @{/medication/get_combination} ]]*/

    $(".medication_input").keyup(function(e) {
        var diagnosis = $(this).val();

        if (diagnosis.length < 3) return;
        var containerJquery = $(this);

        $.ajax({
            url: medicationsUrl,
            type: "get", //send it through get method
            data: {
                diagnosis: diagnosis
            },
            success: function (response) {
                var data = response;

                containerJquery.autocomplete({
                    minLength: 0,
                    source: function( request, response ) {
                        response(data);
                    },
                });

            },
            error: function (xhr) {
            }
        });

    });

    $(".medication_input").change(function(e) {
        var medication = $(this).val();
        var containerJquery = $(this).closest('div').next().next().next().find('.medication_combination');

        $.ajax({
            url: medicationsCombUrl,
            type: "get", //send it through get method
            data: {
                medication: medication
            },
            success: function (response) {
                var data = response;

                containerJquery.autocomplete({
                    minLength: 0,
                    source: function( request, response ) {
                        response(data);
                    },
                });

            },
            error: function (xhr) {
            }
        });
    });

</script>
<script th:inline="javascript">

    var diagnosisBySymptomsUrl = /*[[ @{/diagnosis/get_diagnosis} ]]*/

        function getRecomendedDiagnosis() {
            var symptomsArr = $("#symptoms").val();
            var symptoms = symptomsArr.join(",");

            $.ajax({
                url: diagnosisBySymptomsUrl,
                type: "get", //send it through get method
                data: {
                    symptoms: symptoms
                },
                success: function (response) {
                    var data = response;
                    $('.custom-tooltip2').empty();
                    $('.custom-tooltip2').append('<h4>Diagnosis Possibility</h4>');
                    $('.custom-tooltip2').show();

                    if (typeof data !== 'undefined' && data.length > 0) {

                        data.forEach(function (arrayItem, i) {
                            $('.custom-tooltip2').append(
                                $('<div>').prop({
                                    id: 'innerDiagnosis' + i,
                                    className: 'innerDiagnosis'
                                })
                            );
                            $('#innerDiagnosis' + i).append(
                                $('<div>').prop({
                                    innerHTML: arrayItem[0],
                                    className: 'symptomName'
                                })
                            );
                            $('#innerDiagnosis' + i).append(
                                $('<div>').prop({
                                    innerHTML: arrayItem[1],
                                    className: 'symptomPossibility'
                                })
                            );
                            $('#innerDiagnosis' + i).append('<hr style="margin-top: 2rem;"/>');

                            var confirmed = arrayItem[2].split(',');
                            var nonConfirmed = arrayItem[3].split(',');

                            confirmed.forEach(function (sy, k) {
                                $('#innerDiagnosis' + i).append(
                                    $('<div>').prop({
                                        innerHTML: sy,
                                        className: 'symptomsConfirmed'
                                    })
                                );
                            });

                            nonConfirmed.forEach(function (st, j) {
                                $('#innerDiagnosis' + i).append(
                                    $('<div>').prop({
                                        innerHTML: st,
                                        className: 'symptomsNonConfirmed'
                                    })
                                );
                            });
                        });
                    } else {
                        $('.custom-tooltip2').hide();
                    }
                },
                error: function () {
                    $('.custom-tooltip2').text("No information");
                }
            });
        }
</script>
<script th:inline="javascript">

    var symptomsUrl = /*[[ @{/diagnosis/get_symptoms_info} ]]*/

        $(document).ready(function() {
            var platform = navigator.platform;

            if (!platform.includes("Win")) {
                $(".tooltip-select").mousedown(function(){
                    $(this).attr("size", 15);
                    $(this).css("height", "400px");
                    $(".custom-tooltip").show()
                });

                $(".tooltip-select").on('mousedown','option',function(e) {
                    $(this).parent().attr("size", 1);
                    $(this).parent().css("height", "62px");
                    $(this).parent().val($(this).val());
                    $(".custom-tooltip").hide();
                    e.stopPropagation();
                });

                $(".tooltip-select").on('mouseenter','option',function(e) {
                    $(this).css("background-color", "#dedede");
                    var descrp = $(this).attr('title');
                    $('.custom-tooltip').text(descrp);

                });

                $(".tooltip-select").on('mouseout','option',function(e) {
                    $(this).css("background-color", "#ffffff");
                });
            }
        });

    function showSymptoms() {
        var result = "";

        var diagnosis1 = $("#mainComplaintDiagnosis1").val();
        var diagnosis2 = $("#mainComplaintDiagnosis2").val();
        var diagnosis3 = $("#mainComplaintDiagnosis3").val();

        if (!diagnosis1 && !diagnosis2 && !diagnosis3) {
            $('#symptomsModalText').text("Please select Diagnosis first to get Symptoms information.");
        } else {

            $('#symptomsModalText').text("Loading...");

            $.ajax({
                url: symptomsUrl,
                type: "get", //send it through get method
                data: {
                    diagnosis1: diagnosis1,
                    diagnosis2: diagnosis2,
                    diagnosis3: diagnosis3,
                    infoType: "Description"
                },
                success: function (response) {
                    $('#symptomsModalText').text(response);
                },
                error: function (xhr) {
                    $('#symptomsModalText').text("No symptoms information");
                }
            });
        }
    }

        function showDescription() {
            var result = "";

            var diagnosis1 = $("#mainComplaintDiagnosis1").val();
            var diagnosis2 = $("#mainComplaintDiagnosis2").val();
            var diagnosis3 = $("#mainComplaintDiagnosis3").val();

            if (!diagnosis1 && !diagnosis2 && !diagnosis3) {
                $('#descriptionModalText').text("Please select Diagnosis first to get description.");
            } else {

                $('#descriptionModalText').text("Loading...");

                $.ajax({
                    url: symptomsUrl,
                    type: "get", //send it through get method
                    data: {
                        diagnosis1: diagnosis1,
                        diagnosis2: diagnosis2,
                        diagnosis3: diagnosis3,
                        infoType: "Diagnosis"
                    },
                    success: function (response) {
                        $('#descriptionModalText').text(response);
                    },
                    error: function (xhr) {
                        $('#descriptionModalText').text("No description");
                    }
                });
            }
        }

        function showManagement() {
            var result = "";

            var diagnosis1 = $("#mainComplaintDiagnosis1").val();
            var diagnosis2 = $("#mainComplaintDiagnosis2").val();
            var diagnosis3 = $("#mainComplaintDiagnosis3").val();

            if (!diagnosis1 && !diagnosis2 && !diagnosis3) {
                $('#managementModalText').text("Please select Diagnosis first to get Management information.");
            } else {
                $('#managementModalText').text("Loading...");

                $.ajax({
                    url: symptomsUrl,
                    type: "get", //send it through get method
                    data: {
                        diagnosis1: diagnosis1,
                        diagnosis2: diagnosis2,
                        diagnosis3: diagnosis3,
                        infoType: "Management"
                    },
                    success: function(response) {
                        $('#managementModalText').text(response);
                    },
                    error: function(xhr) {
                        $('#managementModalText').text("No management information");
                    }
                });
            }
        }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var patient_name = [[${patient.firstName + ' ' + patient.secondName}]];
    /*]]>*/
</script>
</body>
</html>
